<button class="btn btn-success" ><a class="btn1" routerLink="/newtemplatedpage">Created New Product Template</a></button>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Template 1</td>
      <div class="btn-td">
        <button class="btn btn-success"><a class="btn1" routerLink="/newtemplatedpage">Clone</a></button>
        <button class="btn btn-info"><a class="btn1" routerLink="/newtemplatedpage">Edit</a></button>
        <button class="btn btn-danger"><a>Disable</a></button>
      </div>
    </tr>
    <tr>
      <td>Template 2</td>
      <div class="btn-td">
        <button class="btn btn-success"><a class="btn1" routerLink="/newtemplatedpage">Clone</a></button>
        <button class="btn btn-info"><a class="btn1" routerLink="/newtemplatedpage">Edit</a></button>
        <button class="btn btn-danger"><a>Disable</a></button>
      </div>
    </tr>
    <tr>
      <td>Template 3</td>
      <div class="btn-td">
        <button class="btn btn-success"><a class="btn1" routerLink="/newtemplatedpage">Clone</a></button>
        <button class="btn btn-info"><a class="btn1" routerLink="/newtemplatedpage">Edit</a></button>
        <button class="btn btn-danger"><a>Disable</a></button>
      </div>
    </tr>
  </tbody>
</table>

