<div><i class="bi bi-list fs-2" id="mymenu"></i></div>
<div class=" flex-shrink-0 p-3 text-white bg-dark navbar menu" style="width: 280px" style="display: none">
  <div><i class="bi bi-caret-left-fill fs-1 float-end" id="mymenu2"></i></div><br/><br />
  <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page" style="color: white" routerLink="creatednewcategory" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Create New Category
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white" routerLink="creatednewsubcategory" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2" ></use></svg>
         Create New Sub Category
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white" routerLink="creatednewproducttemplate" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Created New Product Template
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white" routerLink="createnewproduct" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Create New Product
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white" routerLink="/items" routerLinkActive="active">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Create New Item Component
        </a>
      </li>
    </ul>
    <hr>
  </div>


