<div class="card">
  <div class="row">
    <div class="card">
    <div class="form d-flex">
      <label>Name</label>
      <input type="text" class="form-control">
    </div>
    <div class="card">
     <input type="text" value="red" class="form-control">
     <input type="text" value="red" class="form-control">
     <input type="text" value="red" class="form-control">
    </div>
    <div>
      <button class="float-end">Add Varrian</button>
    </div>
    </div>
  </div>
<div>
  <button routerLink="/created-new-product" class="float-end fs-2">Save</button>
</div>
</div>