<div class="card mt-4">
  <div class="card-body">
      <form>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="category">Category</label>
                      <select class="form-control" id="category">
                          <option>ComboBox</option>
                      </select>
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="subcategory">Sub Category</label>
                      <select class="form-control" id="subcategory">
                          <option>ComboBox</option>
                      </select>
                  </div>
              </div>
          </div>

          <div class="form-group">
              <label for="template">Product Template</label>
              <select class="form-control" id="template">
                  <option>Template 1</option>
              </select>
          </div>

          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name">
                  </div>
              </div>

              <div class="col-sm-6">
                  <div class="form-group">
                      <label for="code">Code</label>
                      <input type="text" class="form-control" id="code">
                  </div>
              </div>
          </div>

          <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" rows="3"></textarea>
          </div>

          <div class="text-end">
              <button class="btn btn-primary" routerLink="./product-template-filed">Save Next</button>
          </div>
      </form>
  </div>
</div>
