<div class="card">
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-10" >
      <div class="form">
        <label>Price</label>
        <input class="form-control" type="text">
        </div>
        <div class="form">
          <label>Weight</label>
          <input class="form-control" type="text">
        </div>
        <div>
          <button class="btn btn-primary float-end" routerLink="/product-picture">Next</button>
        </div>
    </div>
  </div>
</div>
</div>