
<div class="container">
  <div class="row">
    <!--Create new sub Category-->
    <div class="my-5 w-50 mx-auto border border-2 text-center">
      <h1 class="display-5 fw-bold text-success">Create New Sub Category</h1>
    </div>

    <!--Search selecr Category more-->

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!--Create New Category Page-->
    <div class="my-5">
      <div class="row">
        <div class="col-md-6">
          <div class="text-center">
            <h1 class="fw-bold display-5">Control</h1>
            <div class="border border-2 mx-auto w-50 my-5">
              <!----------------- Add new Category --------------------->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-center">
            <h1 class="fw-bold display-5">Product Template</h1>
            <div class="border border-2 mx-auto w-50 my-5">
              <!----------------- Disable Category --------------------->
            </div>
          </div>
        </div>
      </div>
      <!--=====================Code===================-->
    </div>
  </div>
</div>

