<div class="container">
  <div class="row">
    <div class="card">
      <div class="form row">
        <div class="col-6">
          <label>Category</label>
          <input type="text" class="form-control dropdown-toggle" />
        </div>
        <div class="col-6">
          <label>Category</label>
          <input type="text" class="form-control" />
        </div>
        <div class="mt-2">
          <label>Name</label>
          <input type="text" class="form-control" />
        </div>
      </div>

      <div class="row mt-5">
    <div class="col-6">
      <h5>Control</h5>
      <div class="card2 gap-2 d-flex flex-column align-items-center">
        <div><input type="text" value="Textbox" class="form-control control" /></div>
        <div><input type="text" value="Bumberic" class="form-control control" /></div>
        <div><input type="date" value="Textbox" class="form-control control" /></div>
        <div><textarea class="form-control control"></textarea></div>
      </div>
    </div>
    <div class="col-6">
      <h5>Product Template</h5>
      <div class="card3 col-6 d-flex justify-content-center align-items-center">

        <div class="field">
          <div class="d-flex">
            <h6>Field 1</h6>
            <h6>Detail</h6>
          </div>
          <form>
            <label>Price</label>
            <input class="form-control" />
          </form>
          <form>
            <label>Type</label>
            <input class="form-control" />
          </form>
        </div>

      </div>
      <div class="float-end" style="float: left">
        <button class="btn btn-warning"><a routerLink="/creatednewproducttemplate">Cancel</a></button>
        <button class="btn btn-success">Save</button>
      </div>
    </div>


    </div>
  </div>
</div>

