<div>
  <h2>Create New Product Template Page</h2>
  <input type="text" [(ngModel)]="Category" placeholder="Categoryname"
    [ngClass]="{ 'bg-danger text-white': duplicateCategory || (submitted && Category === '') }"
    [placeholder]="duplicateCategory ? 'Name already taken' : (submitted && Category === '' ? 'Please input' : 'Categoryname')" />
  <button><a routerLink="/creatednewcategory">Cancel</a></button>
  <button (click)=" addProduct()">{{ isEditMode ? 'Update' : 'Save' }}</button>
</div>

<div class="row mt-5">
  <div class="col-6 card1">
    <h1>Control</h1>
    <div *ngFor="let control of controlItems" class="draggable" draggable="true"
      (dragstart)="onDragStart($event, control)">
      <label>{{ control.name }}</label>
    </div>
  </div>

  <div class="col-6 card2" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
    <h1>Input Template</h1>
    <div *ngFor="let item of droppedItems; let i = index">
      <ng-container *ngIf="item.field === 'Category'; else numeric">
        <label>{{ item.field }}</label><i style="float: right" class="bi bi-x fs-4 btn-remove"
          (click)="removeItem(i)"></i><br>
        <input type="text" placeholder="{{ item.field }} Input" [(ngModel)]="Category" />
      </ng-container>

      <ng-template #numeric>
        <ng-container *ngIf="item.field === 'Numeric'; else date">
          <label>{{ item.field }}</label> <i style="float: right" class="bi bi-x fs-4 btn-remove"
            (click)="removeItem(i)"></i><br>
          <input type="text" placeholder="{{ item.field }} Input" [(ngModel)]="Subcategory" />
        </ng-container>
      </ng-template>

      <ng-template #date>
        <ng-container *ngIf="item.field === 'Date'; else textarea">
          <label>{{ item.field }}</label> <i style="float: right" class="bi bi-x fs-4 btn-remove"
            (click)="removeItem(i)"></i><br>
          <input type="date">
        </ng-container>
      </ng-template>

      <ng-template #textarea>
        <ng-container *ngIf="item.field === 'Textarea'">
          <label>{{ item.field }}</label> <i style="float: right" class="bi bi-x fs-4 btn-remove"
            (click)="removeItem(i)"></i><br>
          <textarea></textarea>
        </ng-container>
      </ng-template>
    </div>
  </div>

  <div>
    <button><a routerLink="/creatednewcategory">Cancel</a></button>
    <button (click)="addProduct()">{{ isEditMode ? 'Update' : 'Save' }}</button>
  </div>
</div>
