
.draggable {
  cursor: move;
  border: 1px dashed #ccc;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #f8f9fa;
}
#fieldsContainer {
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 100px;
  background-color: #ffffff;
}
.table th {
  background-color: #007bff;
  color: white;
}
.disabled-row {
  background-color: #f8d7da;
  color: #721c24;
}
.disabled-control {
  background-color: #e9ecef;
  pointer-events: none; /* Disable interaction */
}
.removable {
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}


.remove-control {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: red;
}
