<div class="container p-4">
  <!-- Sub Category List -->
  <div class="mb-4 text-center">
    <h1 class="fw-bold border border-3 display-5 my-5 text-success">
      Sub Category List
    </h1>
    <hr class="w-50 mx-auto my-5" />
    <button class="btn btn-primary my-5 px-5 py-3" id="createSubCategoryBtn">
      Create New Sub Category
    </button>
    <button class="btn btn-danger my-5 px-5 py-3" id="disableAllBtn">
      Disable All Controls
    </button>
    <table class="table table-bordered" id="subCategoryTable">
      <br />
      <thead>
        <tr>
          <th class="px-5 py-3 display-5">Name</th>
          <th class="px-5 py-3 display-5">Controls</th>
          <th class="px-5 py-3 display-5">Actions</th>
        </tr>
      </thead>
      <tbody>
        <!-- Sub categories will be dynamically added here -->
      </tbody>
    </table>
  </div>

  <!-- Create/Edit Sub Category Modal -->
  <div
    class="modal fade"
    id="subCategoryModal"
    tabindex="-1"
    aria-labelledby="subCategoryModalLabel"
    aria-hidden=""
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="subCategoryModalLabel">
            Create New Sub Category
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label class="form-label">Sub Category Name</label>
            <input
              type="text"
              class="form-control"
              id="subCategoryNameInput"
              placeholder="Enter Sub Category Name"
            />
          </div>
          <div class="mb-3">
            <label for="productTemplate" class="form-label"
              >Product Template</label
            >
            <div id="availableFields" class="mb-2">
              <!-- Draggable controls -->
              <div class="draggable" draggable="true" data-type="textbox">
                TextBox
              </div>
              <div class="draggable" draggable="true" data-type="numeric">
                Numeric
              </div>
              <div class="draggable" draggable="true" data-type="date">
                Date
              </div>
              <div class="draggable" draggable="true" data-type="largeText">
                Large TextBox
              </div>
              <div class="draggable" draggable="true" data-type="button">
                Button
              </div>
              <div class="draggable" draggable="true" data-type="password">
                Password
              </div>
              <div class="draggable" draggable="true" data-type="checkbox">
                Checkbox
              </div>
              <div class="draggable" draggable="true" data-type="email">
                Email
              </div>
              <div class="draggable" draggable="true" data-type="file">
                File
              </div>
              <div class="draggable" draggable="true" data-type="hidden">
                Hidden
              </div>
              <div class="draggable" draggable="true" data-type="image">
                Image
              </div>
              <div class="draggable" draggable="true" data-type="number">
                Number
              </div>
              <div class="draggable" draggable="true" data-type="range">
                Range
              </div>
              <div class="draggable" draggable="true" data-type="search">
                Search
              </div>
              <div class="draggable" draggable="true" data-type="tel">
                Telephone
              </div>
              <div class="draggable" draggable="true" data-type="time">
                Time
              </div>
            </div>
            <div id="fieldsContainer" class="mb-3">
              <h6>Drop Controls Here:</h6>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button type="button" class="btn btn-primary" id="saveSubCategoryBtn">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Disable Confirmation Modal -->
  <div
    class="modal fade"
    id="disableModal"
    tabindex="-1"
    aria-labelledby="disableModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="disableModalLabel">
            Disable Sub Category
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Please enter the Sub Category name to disable:</p>
          <input
            type="text"
            class="form-control"
            id="subCategoryNameToDisable"
            placeholder="Sub Category Name"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="disableSubCategoryBtn"
          >
            Disable
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Disable All Confirmation Modal -->
  <div
    class="modal fade"
    id="disableAllModal"
    tabindex="-1"
    aria-labelledby="disableAllModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="disableAllModalLabel">
            Disable All Controls
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p>Please enter the Sub Category name to disable all controls:</p>
          <input
            type="text"
            class="form-control"
            id="subCategoryNameToDisableAll"
            placeholder="Sub Category Name"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="disableAllControlsBtn"
          >
            Disable All
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
