<div class="card">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div>
        <label for="filename">File Name</label>
        <input type="file" value="broswer" >
      </div>
      <div>
        <a class="float-end" href="">Add</a>
        <a class="float-end" href="">Remove</a>
      </div>
      <div class="col-3">
        <div style="background-color: green; width: 200px; height: 200px">

        </div>
      </div>
      <div class="col-3">
        <div style="background-color: green; width: 200px; height: 200px">

        </div>
      </div>
      <div class="col-3">
        <div style="background-color: green; width: 200px; height: 200px">

        </div>
      </div>
      <div class="col-3">
        <div style="background-color: green; width: 200px; height: 200px">

        </div>
      </div>
      <div>
        <button class="float-end" routerLink="/product-varian">Save Next</button>
        <button class="float-end">Skip</button>
      </div>
    </div>
  </div>
  </div>